# 1) Select all the correct options to join two lists.
      listOne =  ['a', 'b', 'c', 'd']
      listTwo =  ['e', 'f', 'g']                                                                                             
a)	newList = listOne + listTwo                                                                                                 
b)	newList = extend(listOne, listTwo)                                                                                       
c)	newList = listOne.extend(listTwo)                                                                                         
d)	newList.extend(listOne, listTwo)

In [1]:
listOne =  ['a', 'b', 'c', 'd']
listTwo =  ['e', 'f', 'g']  
newList = listOne + listTwo
print(newList)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [2]:
newList1 = listOne.extend(listTwo)
print(newList)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

**Ans: a) newList = listOne + listTwo                                                                                             
     c) newList = listOne.extend(listTwo)**

# 2) Create an list of elements and execute the following functions: reverse, append, extend, count,sort.

**Reverse**

In [9]:
#input list
list=['Dollar', 'Euro', 'Pound']
#To reverse List
print('Original List:', list)
# List Reverse
list.reverse()
print('Updated List:', list)

Original List: ['Dollar', 'Euro', 'Pound']
Updated List: ['Pound', 'Euro', 'Dollar']

**Append**

In [8]:
list1=['Dollar', 'Euro', 'Pound']
print('Original List:', list1)
# append 'Yen' to the list
list1.append('Yen')
print('Updated List:', list1)

Original List: ['Dollar', 'Euro', 'Pound']
Updated List: ['Dollar', 'Euro', 'Pound', 'Yen']

**Extend**

In [10]:
# languages list
List_1=['Dollar', 'Euro', 'Pound']

# another list of Currencies
List_2=['Dinar', 'Lek', 'Indian Rupee']

# appending List_1 elements to List_2
List_1.extend(List_2)


print('Currency List:', List_1)

Currency List: ['Dollar', 'Euro', 'Pound', 'Dinar', 'Lek', 'Indian Rupee']

**count**

In [11]:
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# count element 'i'
count = vowels.count('i')
# print count
print('The count of i is:', count)
# count element 'p'
count = vowels.count('p')
# print count
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

**Sort**

In [17]:
vowels = ['e', 'a', 'u', 'o', 'i']
# sort the vowels
vowels.sort()
# print vowels
print('Sorted list (in Ascending):', vowels)
vowels.sort(reverse=True)
# print vowels
print('Sorted list(in Descending):', vowels)

Sorted list (in Ascending): ['a', 'e', 'i', 'o', 'u']
Sorted list(in Descending): ['u', 'o', 'i', 'e', 'a']

# 3)  Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
**Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']**                                                         
**Expected Output : ['Green', 'White', 'Black']**

In [18]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

# 4) What is the output of the following list operation

In [19]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

# 5) Select all the correct options to copy a list
         aList = ['a', 'b', 'c', 'd']                                                                                           
a)	newList = copy(aList)                                                                                                       
b)	newList = aList.copy()                                                                                                   
c)	newList.copy(aList)                                                                                                       
d)	newList = list(aList)

In [21]:
aList = ['a', 'b', 'c', 'd']
newList = aList.copy()
print(newList)

['a', 'b', 'c', 'd']

**Ans:b)newList = aList.copy()**

# 6) Create an list of elements and slice & dice it.

In [28]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
downstairs = areas[:6]
upstairs = areas[6:]
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

# 7) Given a Python list you should be able to display Python list in the following order
aLsit = [100, 200, 300, 400, 500]

In [29]:
aLsit  = [100, 200, 300, 400, 500]
aLsit .reverse()
print(aLsit )

[500, 400, 300, 200, 100]

# 8) What will be the output of the following code snippet?

In [30]:
a=[1,2,3,4,5]         
print(a[3:0:-1])

[4, 3, 2]

# 9) Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [31]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]